<!-- BEGIN CHAT TOGGLER -->
<div class="pull-right"> 
  <div class="chat-toggler">
    <div class="user-details"> 
      <div class="username">
        Welcome <span class="bold">Guest</span>                 
      </div>            
    </div> 
    <div class="iconset top-down-arrow"></div>            
    <div class="profile-pic"> 
      <img alt="" src="/assets/profiles/senthil.png" data-src="/assets/profiles/senthil.png" data-src-retina="/assets/profiles/senthil.png" width="35" height="35" /> 
    </div>            
  </div>
  <ul class="nav quick-section ">
    <li class="quicklinks"> 
      <a data-toggle="dropdown" class="dropdown-toggle  pull-right" href="#">           
        <div class="iconset top-settings-dark "></div>  
      </a>
      <ul class="dropdown-menu  pull-right" role="menu" aria-labelledby="dropdownMenu">
        <li><a href="user-profile.html"> My Account</a></li>
        <li class="divider"></li>                
        <li><a href="login.html"><i class="icon-off"></i>&nbsp;&nbsp;Log Out</a></li>
      </ul>
    </li> 
  </ul>
</div>
<!-- END CHAT TOGGLER -->