<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse "> 
  <!-- BEGIN TOP NAVIGATION BAR -->
  <div class="navbar-inner">
    <div class="header-seperation">
      <!-- BEGIN LOGO --> 
      <a href="index.html"><span class="logo pull-left" width="106" height="92"/><img src="/assets/logo.png"/></span></a>
      <!-- END LOGO --> 

      <ul class="nav pull-right notifcation-center">  
        <li class="dropdown" id="header_task_bar"> 
          <a href="index.html" class="dropdown-toggle active" data-toggle=""> 
          <div class="iconset top-home"></div> 
          </a> 
        </li>
      </ul>
    </div>
    <!-- END RESPONSIVE MENU TOGGLER --> 
      
    <div class="header-quick-nav" > 
      <%= render 'shared/top_nav' %>
      <%= render 'shared/chat_toggler' %>
    </div> 
    <!-- END TOP NAVIGATION MENU --> 
  </div>
  <!-- END TOP NAVIGATION BAR --> 
</div>
<!-- END HEADER -->  