<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse "> 
  <!-- BEGIN TOP NAVIGATION BAR -->
  <div class="navbar-inner">
    <%= render 'shared/logo' %>
    <!-- END RESPONSIVE MENU TOGGLER --> 
      
    <div class="header-quick-nav" > 
      <%= render 'shared/top_nav' %>
      <%= render 'shared/chat_toggler' %>
    </div> 
    <!-- END TOP NAVIGATION MENU --> 
  </div>
  <!-- END TOP NAVIGATION BAR --> 
</div>
<!-- END HEADER -->  