    <div class="header-seperation">
      <!-- BEGIN LOGO --> 
      <!-- <a href="index.html"><span class="logo pull-left" width="106" height="92"/><img src="/assets/logo.png"/></span></a> -->
      <!-- END LOGO --> 

      <ul class="nav pull-right notifcation-center">  
        <li class="dropdown" id="header_task_bar"> 
          <a href="index.html" class="dropdown-toggle active" data-toggle=""> 
          <div class="iconset top-home"></div> 
          </a> 
        </li>
      </ul>
    </div>