<!-- BEGIN SIDEBAR -->
<div class="page-sidebar" id="main-menu"> 
  <!-- BEGIN MINI-PROFILE -->
  <div class="user-info-wrapper"> 
    <div class="profile-wrapper">
      <img src="/assets/profiles/avatar.jpg" data-src="/assets/profiles/avatar.jpg" data-src-retina="assets/profiles/avatar2x.jpg" width="69" height="69" />
    </div>
    <div class="user-info">
      <div class="greeting">Welcome</div>
      <div class="username">Guest</div>
    </div>
 </div>
<!-- END MINI-PROFILE -->
 
 <!-- BEGIN SIDEBAR MENU -->  
  <ul>       
    <li class=""> 
      <a href="javascript:;"> 
        <i class="icon-custom-ui"></i> 
        <span class="title">Dashboard 1</span> <span class="arrow "></span> 
      </a>
    </li>
    <li class=""> 
      <a href="javascript:;"> 
        <i class="icon-custom-form"></i> 
        <span class="title">Dashboard 2</span> <span class="arrow "></span> 
      </a>
    </li>
  </ul>
    <!-- END SIDEBAR MENU --> 
</div>