<!-- BEGIN TOP NAVIGATION MENU -->
<div class="pull-left"> 
  <ul class="nav quick-section">
    <li class="quicklinks">
      <a href="#" class="" id="layout-condensed-toggle" >
        <div class="iconset top-menu-toggle-dark"></div>
      </a>
    </li>        
    <li class="quicklinks"> <span class="h-seperate"></span></li>
    <li class="quicklinks"> 
      <a href="#" class="" ><div class="iconset top-reload"></div> </a> 
    </li> 
  </ul>
  <!-- <ul class="nav quick-section"> -->
    <!-- <li class="quicklinks"> 
      <a href="#" class="" ><div class="iconset top-tiles"></div></a> 
    </li> -->
    <!-- <div class="input-prepend inside search-form no-boarder">
      <span class="add-on"> <a href="#" class="" ><div class="iconset top-search"></div></a></span>
      <input name="" type="text"  class="no-boarder " placeholder="Search" style="width:250px;">
    </div> -->
  <!-- </ul> -->
</div>
<!-- END TOP NAVIGATION MENU -->