<div class="row" style="overflow: hidden; margin: 50px 0 0;">
<div style="width:5%;height:100%;float:left;">&nbsp;</div>
<div class="col-md-6 col-sm-12 col-xs-12">
    <div class="grid solid red">
        <div class="grid-title">
            <h4>Daily Featured Options Deal</h4>
        </div>
    </div>
    <div class="grid simple" style="background-color: #000000; border: 3px solid #000000;">
        <div class="grid-body" style="text-align: center; padding:20px 0 0;">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4">AAPL</div>
                <div class="col-md-4 col-sm-4 col-xs-4">140 Calls</div>
                <div class="col-md-4 col-sm-4 col-xs-4">Dec 18</div>
            </div>
            <h2 style="text-align:center;" class="text-success">Buy $1 or lower</h2>

            <div class="clearfix"></div>
            <div class="row">
                <div class="sell-block">
                    <div class="col-md-4 col-sm-4 col-xs-4 sell-inner" style="border-right: 1px dotted;">
                        <h2 class="text-info">50%</h2>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4 sell-inner">
                        <h4 class="text-error" style="font-size: 14px;line-height: 22px;">Sell:2<br>
                            Stop: 0.8</h4>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-5 sell-inner"  style="color:#f35958;border-left: 1px dotted #000;">
                        <h4 class="text-error" style="font-size: 14px;  line-height: 22px;">
                            Exit by close today<br>
                            No Exceptions
                        </h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="sell-block">
                    <div class="col-md-4 col-sm-4 col-xs-4 sell-inner" style="border-right: 1px dotted;">
                        <strong>Savings*</strong>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4 sell-inner">
                        <strong>Action</strong>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-5 sell-inner" style="border-left: 1px dotted;">
                        <strong>Rule</strong>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <!-- <div class="clearfix"></div> -->
            <div class="text-right" style="padding: 15px 10px 8px;">
                <a href="/assets/social/twitter.png"><img
                        src="/assets/social/twitter.png" width="30"></a>
                <a href="/assets/social/facebook.png"><img
                        src="/assets/social/facebook.png" width="30"></a>
                <a href="/assets/social/google.png"><img
                        src="/assets/social/google.png" width="30"></a>
            </div>
        </div>
        <div class="grid-title" style="background-color:#000;">
            <h4 class="text-success">Last updated: 9 AM EST, Today</h4>
        </div>
    </div>
</div>