<div class="span6">  
  <div class="grid-title" style="margin-top:50px;">
  </div>
  <div class="grid simple">
    <div class="grid-body">
      <div class="row-fluid">
        <div class="span4"  style="float:left; width:25%">WYNN</div>
        <div class="span4"  style="float:left; width:35%">30 Put</div>
        <div class="span4">Expiration*</div>
        <h2 style="text-align:center;"  class="text-success">Buy $1 or lower</h2>
        <div class="span3" style="border-right: 1px dotted;float:left; width:30%; height:120px">
          <h2 class="text-info" style="margin-top:40px;">50%</h2></div>
        <div class="span3" style="height: 120px; border-right: 1px dotted;float:left; width:30%">
          <h4 class="text-error">Sell:2<br/> Stop: 0.8</h4>
        </div>
        <div class="span3" style="color:#f35958;">
          <h4 class="text-error">
            Exit by <br/>
            close <br/>today<br/>
            No Exceptions
          </h4>
        </div>
        <div class="clearfix"></div>
        <div style="float:left; width:33%"><strong>Savings*</strong></div>
        <div class="span3" style="float:left; width:30%"><strong>Action</strong></div>
        <div class="span5" style="float:left; width:30%"><strong>Rule</strong></div>
        <div class="clearfix"></div>
        <p class="text-right">
          <a href="#"><img src="/assets/social/twitter.png" width="30"></a>
          <a href="#"><img src="/assets/social/facebook.png" width="30"></a>
          <a href="#"><img src="/assets/social/google.png" width="30"></a>
        </p>
      </div>
    </div>
    <div>
    <div style="font-size: 20px; border: hidden;"><strong>Analysis</strong></div>
    <div class="span4"  style="float:left; width:25%">Volality</div>
          <div class="span4"  style="float:left; width:35%">Technical</div>
          <div class="span4">Fundamental</div>
          <div class="span3" style="border-right: 1px dotted;float:left; width:30%; height:114px">
            <ul style="margin-top:40px;">
              <li>V one</li>
              <li>V two</li>
              <li>V three</li>
            </ul>
          </div>
          <div class="span3" style="height: 114px; border-right: 1px dotted;float:left; width:30%">
          <ul style="font-size: 14px;">
            <li>T one</li>
            <li>T two</li>
            <li>T three</li>
          </ul>
          </div>
          <div class="span3">
            <ul style="font-size: 14px;">
              <li>F one</li>
              <li>F two</li>
              <li>F three</li>
            </ul>
          </div>
  </div> 
  </div>
  
</div>
